.posRelative {
  position: relative;
}

.disBlock {
  display: block;
}

#searchInput {
  margin: 0;
}

.result {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  z-index: 99;
  background: #fff;
}

#result-list {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.30);
}

ul.my-new-list {
  list-style-type: none;
  margin: 0;
}

ul.my-new-list .button {
  margin: 0;
}

ul.my-new-list li {
  font-size: 0.875em;
  padding: 0.5em;
}

.result-item {

}

.result-item:hover {
  background: #eee;
}

.item-poster {
  max-width: 20px;
}

.padding5 {
  padding: 0.5em;
}

.paddingBottom {
  padding-bottom: 0.5em;
}

.paddingTop {
  padding-top: 0.5em;
}

.hidden {
  display: none;
}

/* TOOLTIP */

.more-info-tooltip {
  position: absolute;
  background: #222;
  color: #fff;
  width: 200px;
  right: 50px;
  top: 0;
  padding: 1em;
  text-align: left;
  cursor: default;
}
.more-info-tooltip:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.more-info-tooltip:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #222;
  border-width: 10px;
  top: 15px;
  margin-top: -10px;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-info {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-info:before {
  content: "\e000";
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}